name: node_app

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

env:
  AWS_REGION: "us-east-1"

jobs:
  build:
    name: Build docker image
    runs-on: ubuntu-latest # specify the build machine
    steps:
      - # checkout to the repository on the build machine
        name: Checkout
        uses: actions/checkout@v3

      - name: Read configuration
        id: config
        run: |
          echo "Reading configuration..."
          CONFIG_DESTROY=$(cat config.yaml | grep destroy | awk '{print $2}')
          echo "::set-output name=destroy::$CONFIG_DESTROY"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}

      - # Login into Amazon ECR
        name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - # create a build kit builder instance
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - # Build the docker image to push to ECR
        name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          # Build a docker container and
          # push it to ECR so that it can
          # be deployed to ECS.
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${{ vars.AWS_ECR_URL }}
          docker build -t fiap_fast_food_ecr .
          docker tag fiap_fast_food_ecr:latest ${{ vars.AWS_ECR_URL }}/fiap_fast_food_ecr:latest
          docker push ${{ vars.AWS_ECR_URL }}/fiap_fast_food_ecr:latest
